.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
}
.item--light{
  border: 2px solid rgb(173, 192, 219);
}

.item--dark{
  border: 2px solid #969dab;
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.text {
  font-size: var(--font-size-p);
}

.text--light {
  color: rgb(80, 94, 114);
}

.text--dark {
  color: #e7eeff;
}

.rating {
  color: rgb(225, 217, 66);
  font-size: var(--font-size-star);
}
