.header {
  padding: 1rem;
  border: 1px solid var(--color-border);
  margin: 1rem;
  background-color: var(--color-main-bg);
}

.title {
  float: left;
  color: var(--color-text-heading);
  font-size: var(--font-size-h1);
  cursor: pointer;
}

.container {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container > :not(:last-child) {
  margin-right: 1vw;
}
