.header {
  padding: 1rem;
  /* border: 1px solid var(--color-border); */
  margin: 1rem;
  border-radius: 8px;
}

.header--light {
  background-color: #cfdefd;
}

.header--dark {
  background-color: rgb(28, 49, 78);
}

.title {
  float: left;
  font-size: 170%;
  cursor: pointer;
}

.title--light {
  color: rgb(49, 75, 111);
}

.title--dark {
  color: #cfdefd;
}

.container {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.container > :not(:last-child) {
  margin-right: 1vw;
}
