.footer {
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem;
  
}

.footer--light{
  background-color: #e7eeff;
    color: var(--color-text-p);
}

.footer--dark{
  background-color: rgb(47, 55, 66);
  color: #cfdefd;
}

.copyright {
/*   color: var(--color-text-p); */
  text-align: center;
  font-size: var(--font-size-p);
}

.address {
/*   color: var(--color-text-p); */
  text-align: center;
  font-size: var(--font-size-p);
}
