.footer {
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem;
}

.footer--light {
  background-color: #cfdefd;
  color: var(--color-text-p);
}

.footer--dark {
  background-color: rgb(28, 49, 78);
  color: #cfdefd;
}

.copyright {
  /*   color: var(--color-text-p); */
  text-align: center;
  font-size: var(--font-size-p);
}

.address {
  /*   color: var(--color-text-p); */
  text-align: center;
  font-size: var(--font-size-p);
}
