.nav {
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1%;
  padding: 1rem;
  border-radius: 6px;
    justify-content: center;
}

.list--light {
  border: 2px solid rgb(173, 192, 219);
}

.list--dark {
  border: 2px solid #969dab;
}
